<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"首页"</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src ="/static/script/jquery-1.7.2.js"></script>
    <script>
        $(function () {
            $("#msg").hide();
            if ("{{.}}" == "用户名已存在") {
                $("#msg").show();
            }

            $("#username").change(function (){ // 输入用户名绑定时间
                var username = $(this).val();
                var url = "/checkUserName";
                var param = {username:username};
                $.post(url,param,function (res){ // 发送ajax请求
                    $("#msg").show();
                    $("#msg").html(res);
                });
            });
        });

    </script>
</head>
<body>


<div id="register_form">
    <h1>欢迎注册</h1>

    <form action="http://127.0.0.1:8080/register" method="post">
        <fieldset>
            <p>
                <label>用户名：</label>
                <input type="text"  placeholder="用户名" name="username" id="username">
                <span class="errorMsg" id="msg">{{.}}</span>
            </p>

            <p>
                <label>密码：</label>
                <input type="password" placeholder="密码" name="password">
            </p>

            <p>
                <input id="submit" type="submit" value="注册">
                <a class ="login_to_reg" href="http://127.0.0.1:8080/loginPage">已有账号，去登录</a>

            </p>

        </fieldset>

    </form>
</div>

</body>
</html>