<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎</title>
    <style>
        h1{
            text-align:center;
        }
        p{
            text-align:center;
        }

    </style>
</head>
<body>
    <h1>欢迎访问</h1>
    <br>
    <p>
        <a href="http://127.0.0.1:8080/loginPage">登录</a>
    </p>
    <br>
    <p>
<!--        <a href="/pages/users/register.html">注册</a>-->
        <a href="http://127.0.0.1:8080/registerPage">注册</a>
    </p>
    <br>

</body>
</html>